In [1]:
import pandas as pd

In [2]:
upload_DJIA_table = pd.read_csv("upload_DJIA_table.csv")
upload_DJIA_table.tail(2)

,Date,Open,High,Low,Close,Volume,Adj Close
1987,2008-08-11,11729.669922,11867.110352,11675.530273,11782.349609,183190000,11782.349609
1988,2008-08-08,11432.089844,11759.959961,11388.040039,11734.320312,212830000,11734.320312

In [3]:
len(upload_DJIA_table)

1989

In [4]:
Combined_News_DJIA=pd.read_csv("Combined_News_DJIA.csv")
Combined_News_DJIA.head(2)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."

In [5]:
len(Combined_News_DJIA)

1989

In [6]:
1989*25

49725

In [7]:
n = 0
for i in range(24):
    n= n+ (len(Combined_News_DJIA[Combined_News_DJIA['Top'+str(i+1)].str.find("stock").map(lambda x: False if x==-1 else True)]))
print(n)

114

In [8]:
Combined_News_DJIA['Top1'].map(lambda x: len(x.split(" ")))

0       12
1       20
2       14
3        9
4       10
        ..
1984    12
1985    16
1986     5
1987    33
1988    32
Name: Top1, Length: 1989, dtype: int64

In [14]:
for s in Combined_News_DJIA['Top15'].values[-10:]:
    print(s)
    print("-------------------------------------------")

Russian soldier dies in Syria after preventing car bomb attack on aid distribution point
-------------------------------------------
More refugees became citizens of Canada than any other country last year, UN says
-------------------------------------------
Russian security service conducts raids on Church of Scientology Federal Security Service raid over a dozen locations in Moscow and St Petersburg as part of investigation into alleged illegal business dealings
-------------------------------------------
Cities forge world's largest alliance to curb climate change | More than 7,100 cities in 119 countries formed the Global Covenant of Mayors for Climate and Energy, a network for helping exchange information on such goals as developing clean energy, organizers said.
-------------------------------------------
North Korea printing massive amounts of fake Chinese currency, defectors say
-------------------------------------------
Sea turtle 'beaten and left for dead' on beach by people taking selfies: Loggerhead sea turtle receiving treatment after it was beaten with sticks and stepped on in Lebanon
-------------------------------------------
Siemens freezes new UK wind power investment following Brexit vote
-------------------------------------------
Islamic State bombings in southern Yemen kill 38 people
-------------------------------------------
Groups urge U.N. to suspend Saudi Arabia from rights council
-------------------------------------------
U.N. panel moves to curb bias against L.G.B.T. people despite fierce resistance from Muslim and African countries.
-------------------------------------------

In [14]:
RedditNews=pd.read_csv("RedditNews.csv")
RedditNews.head(2)

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host

In [15]:
RedditNews.tail(2)

             Date                                               News
73606  2008-06-08  b"UK: Identity cards 'could be used to spy on ...
73607  2008-06-08  b'Marriage, they said, was reduced to the stat...

In [30]:
len(RedditNews)

73608